{{- if .Values.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "vmagent.fullname" . }}-scrape
  labels:
    {{- include "vmagent.labels" . | nindent 4 }}
data:
  scrape.yml: |
    global:
      scrape_interval: {{ .Values.scrapeInterval | quote }}
    scrape_configs:
      {{- if .Values.includeDefaultScrapeJobs }}
      - job_name: victoria-metrics
        metrics_path: {{ printf "%s/metrics" (include "grafascope.pathWithNamespace" (dict "path" (index .Values.global.paths "victoriaMetrics") "namespace" .Release.Namespace)) | quote }}
        static_configs:
          - targets: ["victoria-metrics:{{ index .Values.global.ports "victoriaMetrics" }}"]
      - job_name: victoria-logs
        metrics_path: {{ printf "%s/metrics" (include "grafascope.pathWithNamespace" (dict "path" (index .Values.global.paths "victoriaLogs") "namespace" .Release.Namespace)) | quote }}
        static_configs:
          - targets: ["victoria-logs:{{ index .Values.global.ports "victoriaLogs" }}"]
      - job_name: victoria-traces
        metrics_path: {{ printf "%s/metrics" (include "grafascope.pathWithNamespace" (dict "path" (index .Values.global.paths "victoriaTraces") "namespace" .Release.Namespace)) | quote }}
        static_configs:
          - targets: ["victoria-traces:{{ index .Values.global.ports "victoriaTraces" }}"]
      - job_name: grafana
        metrics_path: {{ printf "%s/metrics" (include "grafascope.pathWithNamespace" (dict "path" .Values.global.paths.grafana "namespace" .Release.Namespace)) | quote }}
        static_configs:
          - targets: ["grafana:{{ .Values.global.ports.grafana }}"]
      - job_name: fluent-bit
        metrics_path: /api/v2/metrics/prometheus
        static_configs:
          - targets: ["grafascope-log-tailer-fluent-bit:2020"]
      {{- end }}
      {{- $targets := .Values.scrapeTargets }}
      {{- if not $targets }}
      {{- $targets = .Values.global.scrapers.metricsTargets }}
      {{- end }}
      {{- if $targets }}
      {{- toYaml $targets | nindent 6 }}
      {{- end }}
{{- end }}

